<% content_for :header_tags do %>
  <meta name="base-url" content="<%= Redmine::Utils.relative_url_root %>">
  <meta name="issue-id" content="<%= @issue.id %>">
  <%= javascript_include_tag '../plugin_assets/redmine_pomodoro_timer/javascripts/pomodoro_timer.js', defer: true %>
  <%= stylesheet_link_tag '../plugin_assets/redmine_pomodoro_timer/stylesheets/pomodoro_timer.css' %>
<% end %>


<h1>Pomodoro Timer</h1>
<p>
  <strong>Issue:</strong> <%= @issue.subject %> (<%= @issue.id %>)<br>
  <strong>Project:</strong> <%= @issue.project.name %>
</p>

<p>
  <span id="session-type">Work</span>
  <span id="time-remaining">25:00</span>
</p>

<div>
  <button type="button" id="start-timer" class="button">Start</button>
  <button type="button" id="stop-timer" class="button">Stop</button>
  <button type="button" id="pause-timer" class="button" disabled>Pause</button>
  <button type="button" id="skip-timer" class="button" disabled>Skip</button>
</div>

<div>
  <!-- 作業分類選択 -->
  <label for="activity">Activity:</label>
  <select id="activity">
    <% @activities.each do |activity| %>
      <option value="<%= activity[:id] %>"><%= activity[:name] %></option>
    <% end %>
  </select>
</div>

<div>
  <!-- コメント入力 -->
  <label for="comments">Comments:</label><br>
  <textarea id="comments" rows="3" style="width: 100%;"></textarea>
</div>

<div id="time-entries-container">
  <!-- Time entries will be dynamically loaded here -->
</div>