<% content_for :header_tags do %>
  <meta name="base-url" content="<%= Redmine::Utils.relative_url_root %>">
  <meta name="issue-id" content="<%= @issue.id %>">
  <%= javascript_include_tag '../plugin_assets/redmine_pomodoro_timer/javascripts/pomodoro_timer.js', defer: true %>
  <%= stylesheet_link_tag '../plugin_assets/redmine_pomodoro_timer/stylesheets/pomodoro_timer.css' %>
<% end %>


<h1>Pomodoro Timer</h1>
<p>
  <strong>Issue:</strong> <%= @issue.subject %> (<%= @issue.id %>)<br>
  <strong>Project:</strong> <%= @issue.project.name %>
</p>

<p>
  <span id="session-type">Work</span>
  <span id="time-remaining">25:00</span>
</p>

<div>
  <button type="button" id="start-timer" class="button">Start</button>
  <button type="button" id="pause-timer" class="button" disabled>Pause</button>
  <button type="button" id="skip-timer" class="button" disabled>Skip</button>
</div>

<div>
  <!-- 作業分類選択 -->
  <label for="activity">Activity:</label>
  <select id="activity">
    <% @activities.each do |activity| %>
      <option value="<%= activity[:id] %>"><%= activity[:name] %></option>
    <% end %>
  </select>
</div>

<div>
  <!-- コメント入力 -->
  <label for="comments">Comments:</label><br>
  <textarea id="comments" rows="3" style="width: 100%;"></textarea>
</div>

<div id="time-entries-container">
  <!-- Time entries will be dynamically loaded here -->
</div>

<!-- モーダル構造 -->
<div id="commentModal" style="display:none; position:fixed; top:70%; left:50%; transform:translate(-50%, -50%); z-index:1000; background:#fff; padding:20px; box-shadow:0 0 10px rgba(0,0,0,0.5);">
    <h3>今回の作業のコメントを入力してください</h3>
    <textarea id="modalCommentInput" rows="4" style="width:100%;"></textarea>
    <div style="margin-top:10px; text-align:right;">
        <button id="modalSubmitButton">登録</button>
        <button id="modalContinueButton">作業継続</button>
        <button id="modalCancelButton">キャンセル</button>
    </div>
</div>